**1.**

*Opción 1:*

In [ ]:
def multiplo():
    x = int(input("Número: "))

    if x % 2 == 0 and x % 3 == 0:
        output = f"{x} es múltiplo de 2 y 3"
    elif x % 2 == 0:
        output = f"{x} es múltiplo de 2"
    elif x % 3 == 0:
        output = f"{x} es múltiplo de 3"
    else:
        output = "Otro caso"

    return output

print(multiplo())

Número: 6
6 es múltiplo de 2 y 3

*Opción 2*

In [ ]:
x = 6
if x % 2 == 0 and x % 3 == 0:
    print("Es múltiplo de 2 y 3")
elif x % 2 == 0:
    print("Es múltiplo de 2")
elif x % 3 == 0:
    print("Es múltiplo de 3")
else:
    print("Otro caso")

Es múltiplo de 2 y 3

**2.**

In [ ]:
num = list(range(1, 101))

for x in num:
    if x % 5 == 0 and x % 3 == 0:
        print("FizzBuzz")
    elif x % 5 == 0:
        print("Buzz")
    elif x % 3 == 0:
        print("Fizz")
    else:
        print(x)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

**3.**

*Opción 1*

In [ ]:
def calcular_descuento():
    x = float(input("Monto de la compra: "))

    if x>=1000:
        output = x*0.8
    elif x<1000 and x>=500:
        output = x*0.9
    else:
        output = x

    return output

print("Deberá pagar",calcular_descuento(),)

Monto de la compra: 1000
Deberá pagar 800.0

*Opción 2*

In [ ]:
def calcular_descuento(x):

    if x>=1000:
        output = x*0.8
    elif x<1000 and x>=500:
        output = x*0.9
    else:
        output = x

    return output

print(calcular_descuento(1200))
print(calcular_descuento(750))
print(calcular_descuento(300))

960.0
675.0
300

**4.**

*Opción 1*

In [ ]:
#modelo simple

def clasificar_edad(x):
    if 0 <= x <= 12:
        print("Niño")
    elif 13 <= x <= 17:
        print("Adolescente")
    elif 18 <= x <= 24:
        print("Joven")
    elif 25 <= x <= 64:
        print("Adulto")
    elif x > 64:
        print("Adulto mayor")
    else:
        print("Edad no válida")

clasificar_edad(10)
clasificar_edad(19)
clasificar_edad(25)
clasificar_edad(70)

Niño
Joven
Adulto
Adulto mayor

*Opción 2*

In [ ]:
def clasificar_edad():
    x = input("Edad: ")

    if not x.isdigit() or int(x) < 0:
        print("Introducir una edad válida")
        return  #una chiki

    x = int(x)

    if x < 12:
        print("Niño")
    elif 13 <= x <= 17:
        print("Adolescente")
    elif 18 <= x <= 24:
        print("Joven")
    elif 25 <= x <= 64:
        print("Adulto")
    else:
        print("Adulto mayor")

clasificar_edad()

Edad: 150
Adulto mayor

**5.**

In [ ]:
def calcular_craest()

In [ ]:
def calcular_craest(media_personal, media_curso, desviacion_curso):
    '''
    Objetivo:
        - Determinar craest

    Input:
        - media_personal: media del alumno en el curso
        - media_curso: media general del curso
        - desviacion_curso: desviación estándar del curso

    Procedimiento:
        - Aplicación de la siguiente fórmula: ((media_personal-media_curso)*10)/desviacion_curso +50

    Output:
        - Craest
    '''
    craest = ((media_personal - media_curso) * 10) / desviacion_curso + 50
    return craest

In [ ]:
media_personal_1= 19
media_curso_1= 16
desviacion_curso_1= 2.5

calcular_craest(media_personal_1,media_curso_1,desviacion_curso_1)

62.0